/* Card.module.css */
.card {
  border: 1px solid #333;
  padding: 16px;
  margin: 16px;
  background-color: #222;
  color: #fff;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-shrink: 0;
}

.card-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.edit-button,
.delete-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #0056b3;
}
