asgiref==3.7.2; python_version >= "3.8"
certifi==2023.5.7; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7"
cfgv==3.3.1; python_full_version >= "3.6.1" and python_version >= "3.8"
charset-normalizer==3.2.0; python_full_version >= "3.7.0" and python_version >= "3.7" and python_full_version < "4.0.0"
distlib==0.3.6; python_version >= "3.8"
django-cors-headers==3.14.0; python_version >= "3.7"
django-rest-framework==0.1.0
django==4.2.3; python_version >= "3.8"
djangorestframework-simplejwt==5.2.2; python_version >= "3.7"
djangorestframework==3.14.0; python_version >= "3.7"
filelock==3.12.2; python_version >= "3.8"
grpcio-tools==1.56.0; python_version >= "3.7"
grpcio==1.56.0; python_version >= "3.7"
hvac==1.1.1; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
identify==2.5.24; python_version >= "3.8"
idna==3.4; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7"
nodeenv==1.8.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.7.0" and python_version >= "3.8"
platformdirs==3.9.1; python_version >= "3.8"
pre-commit==3.3.3; python_version >= "3.8"
protobuf==4.23.4; python_version >= "3.7"
psycopg2==2.9.6; python_version >= "3.6"
pyhcl==0.4.4; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
pyjwt==2.7.0; python_version >= "3.7"
python-dotenv==1.0.0; python_version >= "3.8"
pytz==2023.3; python_version >= "3.7"
pyyaml==6.0; python_version >= "3.8"
requests==2.31.0; python_version >= "3.7"
sqlparse==0.4.4; python_version >= "3.8"
typing-extensions==4.7.1; python_version < "3.11" and python_version >= "3.8"
tzdata==2023.3; sys_platform == "win32" and python_version >= "3.8"
urllib3==2.0.3; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7"
virtualenv==20.24.0; python_version >= "3.8"
